*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cover{
    width: 100%;
    overflow: none;
    position: fixed;
}
/* navbar starts */
#navspan{
    display: flex;
    justify-content: space-around;
    width: 300px;
    position: fixed;
    right: 5px;
    margin-top: 1%;
}



nav #profile{
    width: 40px;
    height: 40px;
    margin-top: -1px;
    border: none;
    border-radius: 50%;
}

nav a{
    color: #000;
    margin-top: 3px;
}

nav a:hover{
    cursor: pointer;
    text-decoration: underline;
}

nav img:hover{
    cursor: pointer;
}


/* navbar ends */

main img{
    margin-top: 50px;
}



/* main area starts */
section {
    display: flex;
    justify-content: space-around;
    width: 270px;
    margin: auto;
    margin-top: 3%;
}

section button {
    padding: 10px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

section button:hover{
    border: 1px solid #000;
}

/* main area starts */

#searchbox{
    padding: 10px 12px;
    width: 30em;
    border-radius: 30px;
    border: 1px solid #000;
    background: transparent;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}



/* main area ends */


/* footer starts*/

footer{
    display: flex;
    justify-content: space-between;
    background: lightgray;
    position: absolute;    
    padding: 10px 12px;
    width: 100vw;
    height: 40px;
    font-size: 1em;
    left: 0;
    right: 0;
    bottom: -65%;
}

#firstinfo{
    display: flex;
}

#firstinfo p{
    margin-right: 13px;
}

#secondinfo{
    display: flex;
}

#secondinfo p{
    margin-right: 13px;
}