/*------------Base--------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
}

.cover{
    min-width: 100%;
    width: 100%;
    overflow: none;
    background-size: cover;
}
/* navbar starts */
#navspan{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 300px;
    position: fixed;
    right: 5px;
    margin-top: 1%;
}


nav #profile{
    width: 30px;
    height: 30px;
    margin-top: -1px;
    border: none;
    border-radius: 50%;
}

nav a{
    color: #000;
    margin-top: 3px;
}

nav a:hover{
    cursor: pointer;
    text-decoration: underline;
}

nav img:hover{
    cursor: pointer;
}


/* navbar ends */

main img{
    margin-top: 50px;
}



/* main area starts */
section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    margin-top: 3%;
    box-sizing: border-box;
    position: relative;
    max-width: 250px;
}

section button {
    box-sizing: border-box;
    padding: 10px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

button:hover{
    border: 1px solid #000;
}


#searchbox{
    padding: 10px 12px;
    width: 30em;
    border-radius: 30px;
    border: 1px solid #000;
    background: transparent;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    outline: none;
}


#searchbox{
    position: relative;
}

#search{
    position: absolute;
    top: 27%;
    left: 31%;
    bottom: 2;
}

#mic{
    position: absolute;
    top: 26%;
    right: 31%;
    bottom: 2;
}


/* main area ends */


/* footer starts*/

footer{
    display: flex;
    justify-content: space-between;
    background: lightgray;
    position: absolute;    
    padding: 10px 12px;
    width: 100vw;
    height: 40px;
    font-size: 1em;
    left: 0;
    right: 0;
    bottom: 0;
}

footer a{
    color: #000;

}

#firstinfo{
    display: flex;
}

#firstinfo a{
    margin-right: 13px;
}

#secondinfo{
    display: flex;
}

#secondinfo a{
    margin-right: 13px;
}
/* footer ends*/


/* ========= medium device =========*/

@media (min-width: 860px) and (max-width: 1199px) {
   
    main{
        width: 100vw;
    }

    .footer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

#firstinfo{
    display: flex;
    flex-wrap: wrap;
}

#firstinfo a{
    margin-right: 13px;
}

#secondinfo{
    display: flex;
    flex-wrap: wrap;

}

#searchbox{
    width: 30em;
}

#search{
    top: 27%;
    left: 25%;
    bottom: 2;
}

#mic{
    position: absolute;
    top: 26%;
    right: 25%;
    bottom: 2;
}
}