*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
}

body{
    width: 100vw;
    height: 100vh;
}

/* navbar starts */
#navdiv{
    display: flex;
    justify-content: space-around;
    width: 17%;
    margin-left: 82%;
    margin-top: 1%;
    height: 35px;
    position: absolute;
}



nav #profile{
    width: 40px;
    height: 40px;
    margin-top: -5px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

nav a{
    color: #000000;
    margin-top: 3px;
}

nav a:hover{
    cursor: pointer;
    text-decoration: underline;
}



/* navbar ends */

main img{
    margin-top: 50px;
}

/* main area starts */
section {
    display: flex;
    justify-content: space-around;
    width: 270px;
    margin: auto;
    margin-top: 3%;
}

section button {
    padding: 10px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

section button:hover{
    border: 1px solid #000;
}

/* main area starts */

#searchbox{
    padding: 10px 12px;
    width: 30em;
    border-radius: 30px;
    border: 1px solid #000;
    background: transparent;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}


#search{
    left: 30px;
    top: 7px;
}

#mic{
    left: -37px;
    top: 9px;
}


/* main area ends */


/* footer starts*/

footer{
    display: flex;
    justify-content: space-between;
    margin-top: 190px;
    background: lightgray;
    position: absolute;    padding: 10px 12px;

    padding: 10px;
    width: 100vw;
}

#firstinfo{
    display: flex;
    justify-content: space-around;
}

#secondinfo{
    display: flex;
}